#####=== OSX ===#####
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#####=== Node ===#####
*.log
*.pid
*.seed
.lock-wscript
build/Release
coverage
lib-cov
logs
node_modules
npm-debug.log
pids

#####=== webwhois ===#####
.dashbrew
config/config.hjson
bower_components
public/stylesheets/*.css
public/javascripts/modernizr.js
public/javascripts/build.js
public/fonts
public/images
!logs/.gitkeep/*
logs/.gitkeep
