#####=== OSX ===#####
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#####=== Node ===#####
*.log
*.pid
*.seed
.lock-wscript
build/Release
coverage
lib-cov
logs
node_modules
npm-debug.log
pids

#####=== PHP/Composer ===#####
vendor
composer.lock

#####=== webwhois ===#####
.dashbrew
config.json
bower_components
assets/css/*.css
assets/js/modernizr.js
assets/js/build.js
assets/fonts
assets/images
