// Fixed top padding because of navbar
body.navbar-padding {
  padding-top: 50px;
}

.row {
  padding: 40px 15px;
}

// Prevent duplicate borders for form-control element
span#dot {
  border-left: 0px;
}

// Adjust positioning of the select input and chosen
.chosen-wrapper {
  display: table-cell;
  vertical-align: top;

  @media (min-width: $screen-sm-min) {
    width: 200px;
  }
}

.chosen-container {
  width:98%!important;
}

.chosen-container .chosen-search input[type="text"] {
  padding:2px 4%!important;
  width:90%!important;
  margin:5px 2%;
}

.chosen-container .chosen-drop {
  width: 100%!important;
}

// Remove round corners
.chosen-single {
  border-radius: 0px !important;
  border-top-left-radius: 0px  !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px  !important;
  border-bottom-right-radius: 4px !important;
  border-left: 0px !important;
}

// Selected table
.table-selected {
  background-color: #f5f5f5;
}
