{
  "appearance": {
    "title": "Whois System",
    "description": "Lightweight and customizable domain lookup/whois system."
  },
  "general": {
    "autodns-whoisproxy": false,
    "debug": false,
    "default-selection": "CNOBI"
  },
  "tldpackages": {
    "CNOBI": {
      "tlds": [
        "com",
        "net",
        "org",
        "biz",
        "info"
      ]
    },
    "New gTLDs": {
      "tlds": [
        "academy",
        "accountant",
        "accountants",
        "active",
        "actor"
      ]
    }
  },
  "tlds": [
    "academy",
    "accountant",
    "accountants",
    "active",
    "actor",
    "biz",
    "com",
    "de",
    "info",
    "net",
    "org"
  ]
}
