{
  ###
  # Appearance and visual settings
  ###
  "appearance": {
    // The title of your webwhois page
    "title": "Whois System",
    // Meta/SEO description
    "description": "Lightweight and customizable domain lookup/whois system."
  },
  ###
  # General settings
  ###
  "general": {
    // Enable/disable debug mode (logged to stdout by default)
    "debug": false,
    // Specify the default selection for the dropdown menu in the dashboard
    "defaultSelection": "CNOBI",
    // Generate site and secret tokens and enter them herr
    // (https://www.google.com/recaptcha/admin#site)
    "enableCaptcha": false,
    "recaptchaSite": "S8Xf9XAqnv2iX6JxbQQkdH3ubAeJUDpg2yxhFyVT",
    "recaptchaSecret": "stSMHD1iIz4MPm8tvtiMmw02cLBkhnphsKq8FsSX",
    // Enable API route to lookup raw whois requests
    "enableWhoisRoute": false
  },
  ###
  # Option to setup "packages"
  # (Make sure the packages only contain TLDs which are allowed)
  ###
  "tldpackages": {
    // Packagename
    "CNOBI": {
      "tlds": [
        // TLDs in package
        "com",
        "net",
        "org",
        "biz",
        "info"
      ]
    },
    "New gTLDs": {
      "tlds": [
        "academy",
        "accountant",
        "accountants",
        "active",
        "actor"
      ]
    }
  },
  ###
  # Allowed TLDs
  ###
  "tlds": [
    "academy",
    "accountant",
    "accountants",
    "active",
    "actor",
    "biz",
    "com",
    "de",
    "info",
    "net",
    "org"
  ]
}
