{
  // The TLD you want to customize
  "academy": {
    // Use special whois server for "academy" lookups
    "server": "whois.nic.academy",
    // The string which is included in the whois lookup result when the domain is still
    // free or available
    "freeIndicator": "Domain not found. \r"
  },
  "accountants": {
    "freeIndicator": "Domain not found. \r"
  },
  "actor": {
    "freeIndicator": "Domain not found. \r"
  },
  "biz": {
    "freeIndicator": "Not found:"
  },
  "com": {
    "freeIndicator": "No match for domain \""
  },
  "de": {
    "freeIndicator": "Status: free\n"
  },
  "info": {
    "freeIndicator": "NOT FOUND\r\n"
  },
  "net": {
    "freeIndicator": "No match for domain \""
  },
  "org": {
    "freeIndicator": "NOT FOUND\r\n"
  },
  "museum": {
    "freeIndicator": "NOT FOUND.\r\n"
  }
}
