{
  "academy": {
    "server": "whois.nic.academy",
    "freeIndicator": "Domain not found. \r"
  },
  "accountants": {
    "freeIndicator": "Domain not found. \r"
  },
  "actor": {
    "freeIndicator": "Domain not found. \r"
  },
  "biz": {
    "freeIndicator": "Not found:"
  },
  "com": {
    "freeIndicator": "No match for domain \""
  },
  "de": {
    "freeIndicator": "Status: free\n"
  },
  "info": {
    "freeIndicator": "NOT FOUND\r\n"
  },
  "net": {
    "freeIndicator": "No match for domain \""
  },
  "org": {
    "freeIndicator": "NOT FOUND\r\n"
  },
  "museum": {
    "freeIndicator": "NOT FOUND.\r\n"
  }
}
